@import url('http://fonts.cdnfonts.com/css/kenteken');

::placeholder {
    color: rgba(0,0,0,.15);
}

.kenteken_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;

    margin: 0;
    padding: 0;
}
.kenteken2 {
    position: relative;
    background: #f3bd00;
    width: 312px;
    height: 60px;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,.3);
}
.inset2 {
    border: 1px solid #333;
    border-radius: 4px;
    width: auto;
    height: 58px;
    position: relative;
    display: flex;
}
.kenteken2 .inset2 .blue2 {
    width: 34px;
    height: 58px;
    background: #003399;
    border-right: 1px solid #333;
    background-image: url('https://i.ibb.co/r7SZP4h/NLD1-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.kenteken2 .inset2 input {
    text-transform: uppercase;
    background: 0;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    width: calc(100% - 25px);
    font-size: 38px;
    letter-spacing: 3px;
    line-height: 38px;
    font-family: 'Kenteken', sans-serif;
}
